<mat-card class="entry-card" (click)="onCardClick()">
    <div class="card-content">
        <div class="score-wrapper">
            <div>
                <mat-icon>keyboard_arrow_up</mat-icon>
            </div>
            <div>{{entry.score}}</div>
            <div>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
        </div>
        <div>
            <mat-card-header>
                <mat-card-title>{{entry.title}}</mat-card-title>
                <mat-card-subtitle>{{entry.author}} on {{entry.created | date: 'medium'}}</mat-card-subtitle>
            </mat-card-header>
            <img *ngIf="entry.thumbnail !== 'self' && entry.thumbnail !== 'default'" mat-card-lg-image
                [src]="entry.thumbnail">

        </div>
    </div>
    <mat-card-footer class="comments-indicator-wrapper">
        <mat-icon [matBadge]="entry.num_comments">comment</mat-icon>
    </mat-card-footer>
</mat-card>